{{#> header }}
Edit Project
{{/header}}

<body class="font-[Bai Jamjuree] overflow-y-hidden bg-secondary h-screen">
  {{> nav }}



  <div id="content-container" class="px-5 md:pt-24 pt-40">
    <h2 class="text-3xl text-center font-semibold">
      {{#if isLogin }}
      Edit Project
      {{else }}
      You Have to Log In
      {{/if }}
    </h2>
    {{#if isLogin }}
    <form method="POST" class="max-w-xl mx-auto" enctype="multipart/form-data">
      <div class="flex flex-col mt-4">
        <label class="base-label" for="name">Project Name</label>
        <input class="base-input" name="name" type="text" id="name" value="{{ project.name }}" />
      </div>
      <div class="flex flex-row mt-4 gap-5">
        <div class="flex w-full flex-col">
          <label class="base-label" for="startDate">Start Date</label>
          <input class="base-input text-[12px] sm:text-base" name="startDate" type="date" id="startDate"
            value="{{ project.startDate }}" style="z-index: 9999;" />
        </div>
        <div class="flex w-full flex-col">
          <label class="base-label" for="endDate">End Date</label>
          <input class="base-input text-[12px] sm:text-base" name="endDate" type="date" id="endDate"
            value="{{ project.endDate }}" style="z-index: 9999;" />
        </div>
      </div>
      <div class="flex flex-col mt-4">
        <label class="base-label" for="description">Description</label>
        <textarea class="base-input" name="description" id="description" rows="5">{{ project.description }}</textarea>
      </div>
      <div class="flex flex-col mt-4">
        <label class="base-label">Technologies</label>
        <div class="flex gap-24">
          <div class="flex flex-col gap-3">
            <div>
              <input class="base-input" name="technologies" value="node" type="checkbox" id="node-checkbox" {{#if
                (includes 'node' project.technologies)}} checked {{/if }} />
              <label class="base-label" for="node-checkbox">Node JS</label>
            </div>
            <div>
              <input class="base-input" name="technologies" value="react" type="checkbox" id="react-checkbox" {{#if
                (includes 'react' project.technologies)}} checked {{/if }} />
              <label class="base-label" for="react-checkbox">React</label>
            </div>
          </div>
          <div class="flex flex-col gap-3">
            <div>
              <input class="base-input" name="technologies" value="nextjs" type="checkbox" id="nextjs-checkbox" {{#if
                (includes 'nextjs' project.technologies)}} checked {{/if }} />
              <label class="base-label" for="nextjs-checkbox">Next JS</label>
            </div>
            <div>
              <input class="base-input" name="technologies" value="typescript" type="checkbox" id="typescript-checkbox" {{#if
                (includes 'typescript' project.technologies)}} checked {{/if }} />
              <label class="base-label" for="typescript-checkbox">TypeScript</label>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col mt-4">
        <label class="base-label" for="upload-image">Upload Image</label>
        <label class="base-label" for="upload-image">
          <div class="bg-white rounded-lg flex items-center justify-between">
            <span
              class="bg-[#e4e4e4] font-normal text-base text-gray-600 p-1.5 border border-gray-500 rounded-lg">Chooese</span>
            <p class="image__name"></p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-paperclip rotate-45 h-5 w-5 mr-2"
              viewBox="0 0 16 16">
              <path
                d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
            </svg>
          </div>
        </label>
        <input class="base-input hidden" name="image" type="file" id="upload-image" hidden />
      </div>

      <button class="block ml-auto mt-5 bg-primary px-4 py-1 text-white rounded-lg">Submit</button>
    </form>
    {{/if }}

    {{!-- {{ project.technologies }} --}}

  </div>
</body>